---
import "../styles/global.css";
import { Image } from "astro:assets";
import logoSvg from "../assets/logo.svg";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const { title = "Astro + Tailwind v4" } = Astro.props;
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body class="font-sans text-base antialiased text-gray-900 min-h-dvh">
    <div class="bg-linear-to-t from-gray-50 to-white border-b-2 border-brand-red/10">
      <header class="p-2 sm:p-6 mx-auto max-w-7xl">
        <div class="flex justify-center mb-2 sm:mb-8">
          <Image src={logoSvg} alt="Praxis Logo" class="w-auto h-24 sm:h-48" />
        </div>
        <Navigation />
      </header>
    </div>
    <main class="sm:px-6 mx-auto max-w-7xl">
      <slot />
    </main>
    <Footer />
    <script>
      import "@tailwindplus/elements";
    </script>
  </body>
</html>
